doctype html
html
  head
    meta(charenc="utf8")
    title Express-exemple
  body 
    h1 Exemples
    ul
      li exemple
        a(href="one")  "./one"
      li exemple
        a(href="two/ala")  "./two/:name"
      li exemple
        a(href="three")  "./three"
      li exemple
        a(href="four")  "./four"
      li exemple
        a(href="five.html")  "./five.html"

